<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>YOU - Coach Aurii</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="glass-card">
    <ion-card-header>
<!--      <ion-card-title>Card Title</ion-card-title>-->
<!--      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
    </ion-card-header>

    <ion-card-content>
      This will be our Snapshot calendar
    </ion-card-content>
  </ion-card>

  <ion-card class="glass-card">
    <ion-card-header>
<!--      <ion-card-title>Card Title</ion-card-title>-->
<!--      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
    </ion-card-header>

    <ion-card-content>
     Our planned activities for today
    </ion-card-content>
  </ion-card>

  <ion-card class="glass-card">
    <ion-card-header>
<!--      <ion-card-title>Card Title</ion-card-title>-->
<!--      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
    </ion-card-header>

    <ion-card-content>
      Create a plan
    </ion-card-content>
  </ion-card>

  <ion-card class="glass-card">
    <ion-card-header>
<!--      <ion-card-title>Card Title</ion-card-title>-->
<!--      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
    </ion-card-header>

    <ion-card-content>
      Recent activities
    </ion-card-content>
  </ion-card>
</ion-content>

